@tailwind base;
@tailwind components;
@tailwind utilities;

* {
}
html,
body,
:root {
  height: 100%;
}
html {
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  --common-border-color: #ebeef5;
  --tag-bg: rgba(0, 0, 0, 0.05);
  --tag-hover-bg: rgba(var(--gray-300), 1);
  --trending-background: #f5f7fa;
  --trending-title: #606266;
  --category-hover: rgba(var(--gray-800), 0.75);
  --sub-category-bg: #fff;
  --sub-category-bg-hover: rgba(var(--gray-200), 1);
  --navbar-profile-bg: #fff;
  --searchbar-bg-color: #f6f8fc;
  --dropdown-item-hover-bg: rgba(var(--gray-200), 1);
  --navbar-border-color: rgba(var(--border), 1);
  --filter-border-color: #f2f6fc;
  --title-sub-bg: #fff;
  --title-sub-bg-hover: rgba(var(--gray-200), 1);
  --profile-bg-color: #f5f7fa;
  --profile-tab-text-color: #606266;
  --profile-tab-text-active-color: #000;
  --profile-tab-border-bottom-color: #f2f6fc;
  --posts-tab-layout-btn-bg: #fff;
  --posts-tab-layout-btn-color: #606266;
  --posts-tab-layout-btn-border: #dcdfe5;
  --posts-tab-layout-btn-selected-bg: #e0f2fe;
  --heading-post-color: #34495e;
  --title-post-color: rgba(var(--gray-800), 1);
  --post-scrape-color: rgba(0, 0, 0, 0.44);
  --post-scrape-strong-color: rgba(0, 0, 0, 0.9);
  --post-scrape-em-color: rgba(0, 0, 0, 0.6);
  --post-youtube-bg-color: #f5f7fa;
  --chat-search-list-item-hover-bg: rgba(var(--gray-300), 1);
  --skeleton-bg-color: #eff1f6;
  --skeleton-bg-progress-img: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.6),
    hsla(0, 0%, 100%, 0)
  );
  --category-picker-hover-bg: #f5f7fa;
  --popup-video-info-bg: #f2f6fc;
  --toc-button-bg: #fff;
  --toc-bg: #fff;
  --toc-header-color: #909399;
  --toc-active-content-bg: #f0f2f5;
  --toc-close-btn-border-left: #ebeef5;
  --toc-icon-color: #111827;
  --old-editor-block-quote-bg: #f5f5f6;
  --old-editor-block-quote-color: #555;
  line-height: 1.5;
  color: #161616;
  font-size: 1rem;
  margin: 0 !important;
  padding: 0 !important;
}
@layer base {
  :root {
    --font-size: 16px;
    --font-size-mobile: 14px;
    --background: 249, 251, 253;
    --border: 226, 232, 240;
    --border-radius: 3px;
    --navbar-height: 4.5rem;
    --navbar-bottom-height: 3.5rem;
    --margin-top: 0rem;
    --divider: 0.5px solid rgba(var(--gray-300), 1);
    --box-shadow: 1px 1px 5px rgba(var(--gray-400), 1);
    --scrollbar-width: 8px;
    --facebook-logo-color: #3b5999;
    --twitter-logo-color: #55acee;
    --linkedIn-logo-color: #0077b5;
    --youtube-logo-color: #cd201f;
    --shopee-logo-color: #ff5700;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* from spiderum */
    --transparent: transparent;
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --gray-100: 247, 250, 252;
    --gray-200: 237, 242, 247;
    --gray-300: 226, 232, 240;
    --gray-400: 203, 213, 224;
    --gray-500: 160, 174, 192;
    --gray-600: 113, 128, 150;
    --gray-700: 74, 85, 104;
    --gray-800: 45, 55, 72;
    --gray-900: 26, 32, 44;
    --red-100: 255, 245, 245;
    --red-200: 254, 215, 215;
    --red-300: 254, 178, 178;
    --red-400: 252, 129, 129;
    --red-500: 245, 101, 101;
    --red-600: 229, 62, 62;
    --red-700: 197, 48, 48;
    --red-800: 155, 44, 44;
    --red-900: 116, 42, 42;
    --orange-100: 255, 250, 240;
    --orange-200: 254, 235, 200;
    --orange-300: 251, 211, 141;
    --orange-400: 246, 173, 85;
    --orange-500: 237, 137, 54;
    --orange-600: 221, 107, 32;
    --orange-700: 192, 86, 33;
    --orange-800: 156, 66, 33;
    --orange-900: 123, 52, 30;
    --yellow-100: 255, 255, 240;
    --yellow-200: 254, 252, 191;
    --yellow-300: 250, 240, 137;
    --yellow-400: 246, 224, 94;
    --yellow-500: 236, 201, 75;
    --yellow-600: 214, 158, 46;
    --yellow-700: 183, 121, 31;
    --yellow-800: 151, 90, 22;
    --yellow-900: 116, 66, 16;
    --green-100: 240, 255, 244;
    --green-200: 198, 246, 213;
    --green-300: 154, 230, 180;
    --green-400: 104, 211, 145;
    --green-500: 72, 187, 120;
    --green-600: 56, 161, 105;
    --green-700: 47, 133, 90;
    --green-800: 39, 103, 73;
    --green-900: 34, 84, 61;
    --teal-100: 230, 255, 250;
    --teal-200: 178, 245, 234;
    --teal-300: 129, 230, 217;
    --teal-400: 79, 209, 197;
    --teal-500: 56, 178, 172;
    --teal-600: 49, 151, 149;
    --teal-700: 44, 122, 123;
    --teal-800: 40, 94, 97;
    --teal-900: 35, 78, 82;
    --blue-100: 234, 248, 255;
    --blue-200: 203, 237, 254;
    --blue-300: 172, 225, 253;
    --blue-400: 109, 203, 252;
    --blue-500: 47, 181, 250;
    --blue-600: 42, 163, 225;
    --blue-700: 28, 109, 150;
    --blue-800: 21, 81, 113;
    --blue-900: 14, 54, 75;
    --indigo-100: 235, 244, 255;
    --indigo-200: 195, 218, 254;
    --indigo-300: 163, 191, 250;
    --indigo-400: 127, 156, 245;
    --indigo-500: 102, 126, 234;
    --indigo-600: 90, 103, 216;
    --indigo-700: 76, 81, 191;
    --indigo-800: 67, 65, 144;
    --indigo-900: 60, 54, 107;
    --purple-100: 250, 245, 255;
    --purple-200: 233, 216, 253;
    --purple-300: 214, 188, 250;
    --purple-400: 183, 148, 244;
    --purple-500: 159, 122, 234;
    --purple-600: 128, 90, 213;
    --purple-700: 107, 70, 193;
    --purple-800: 85, 60, 154;
    --purple-900: 68, 51, 122;
    --pink-100: 255, 245, 247;
    --pink-200: 254, 215, 226;
    --pink-300: 251, 182, 206;
    --pink-400: 246, 135, 179;
    --pink-500: 237, 100, 166;
    --pink-600: 213, 63, 140;
    --pink-700: 184, 50, 128;
    --pink-800: 151, 38, 109;
    --pink-900: 112, 36, 89;
    --brand-grey: 97, 97, 97;
    --brand-black: 22, 22, 22;
    --brand-blue: 51, 152, 212;
    --system-red: 166, 35, 23;
    --system-green: 65, 174, 135;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.nav-toggle::after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #606266;
  position: absolute;
  display: inline-block;
  right: -5px;
  left: 100%;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}
.dot-after::after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  top: 50%;
  right: -0.7rem;
  transform: translateY(-50%);
  background-color: #c4c4c4;
  content: "";
}
.text-12 {
  font-size: 12px;
}
.text-14 {
  font-size: 14px;
}
.text-16 {
  font-size: 16px;
}
.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-24 {
  font-size: 24px;
}
.listTabs {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translateY(-40rem);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: flex-end;
  top: 40%;
  opacity: 0;
  display: none;
  transition: transform 0.75s ease-in-out, opacity 0.5s linear;
}
@media (min-width: 1518px) {
  .listTabs {
    right: calc(100vw - ((100vw - 1192px) / 2));
  }
}
@media (min-width: 1280px) {
  .listTabs {
    display: flex;
    right: calc(100vw - ((100vw - 1100px) / 2));
  }
}
svg,
img {
  user-select: none;
}
input[type="radio"],
label {
  cursor: pointer;
}
